In [1]:
import pandas as pd

In [4]:
df= pd.read_csv('dictionary.csv')
df

,word,definition
0,abandoned industrial site,"Site that cannot be used for any purpose, bein..."
1,abandoned vehicle,A vehicle that has been discarded in the envir...
2,abiotic factor,"Physical, chemical and other non-living enviro..."
3,access road,Any street or narrow stretch of paved surface ...
4,access to the sea,The ability to bring goods to and from a port ...
...,...,...
49532,casing,"Something put around something else, usually i..."
49533,facing,"Something put around something else, usually i..."
49534,lining,"Something put around something else, usually i..."
49535,assumption of Mary,"Catholic holiday on August 15, remembering the..."
49536,auscultation,Listening to the heart and lungs using a steth...

In [13]:
df['word']

0        abandoned industrial site
1                abandoned vehicle
2                   abiotic factor
3                      access road
4                access to the sea
                   ...
49532                       casing
49533                       facing
49534                       lining
49535           assumption of Mary
49536                 auscultation
Name: word, Length: 49537, dtype: object

In [14]:
df.loc[df['word'] == 'tree']

      word                                         definition
2412  tree  1. Any large woody perennial plant with a dist...